img {
    max-width: 200px; 
    max-height: 200px;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.wrap {
    display: table;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
.container {
  width: 200px;
  height: 200px;
	display: table-cell;
	text-align: center;
	color: white;
	font-weight: bold; 
	vertical-align: middle;
	background-color: #6493BA;
	box-shadow: 10px 10px 5px #888888;
	word-break: break-all;
	position: relative;
}

.wordsContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


.main {
	text-align: center;
	margin-top: 100px;
}