img {
    max-width:150px; 
    max-height:150px;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
 .wrap {
    display: table;
    vertical-align: central;
    margin: auto;
    position: absolute;
	font-weight: bold;
	font-size: 1.5em;
	background-color: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

p {
    width: 150px;
    height: 150px;
    background-color:  	rgb(179,200,255);
    box-shadow: 10px 10px 5px #888888;
    position: relative;
}
